<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<head>

</head>
<link rel = "stylesheet" type = "text/css" th:href="@{/css/Welcome.css}" media = "screen"/>


<article class="Post u-charter">
    <header class="Post__header ">
        <h1 class="Post__title">SBU Web and Application Developers</h1>
        <small>
            <div class="Post__author">

                <span class="Post__author__name">Armando Xhimanki</span>
            </div>
            <h3>Last Updated: </h3>
            <time class="Post__meta">
                <p id ="When_I_wrote_this"> </p>

            </time>

            <script>
                var d = new Date("October 5, 2016 11:13:00");
                document.getElementById("When_I_wrote_this").innerHTML = Date();
            </script>
        </small>
    </header>
    <section class="Post__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo voluptas beatae dolore dignissimos blanditiis molestias adipisci debitis voluptatem, a illo, officia harum quidem porro placeat maxime. Voluptas ullam unde quos.</p>
        <p>Deserunt neque laborum ducimus, ipsum cumque laudantium eos obcaecati repellat eum quia maxime delectus quasi quis nisi, dicta atque modi facere sit accusantium ut. Impedit in quia laborum nemo sed!</p>
        <p>Excepturi magnam voluptatum doloremque, accusamus perspiciatis, quos omnis dolor aut! Voluptas nemo, laboriosam fugit reiciendis fuga unde harum quae architecto necessitatibus eligendi aliquam tenetur, explicabo fugiat praesentium cum, suscipit vitae.</p>
        <p>Odit distinctio tempora, officia, est blanditiis vero, provident id voluptatem, aut consectetur illo architecto quo? Perspiciatis fugit velit mollitia enim esse a molestiae, est ut, incidunt, sapiente officia odit, qui?</p>
        <p>At laborum repudiandae, officiis alias tempora. Dolor omnis dignissimos veniam ut, deleniti velit minima consequuntur, nostrum numquam enim autem quisquam, odit recusandae? Voluptate quibusdam pariatur veritatis necessitatibus beatae eius ex.</p>
    </section>
</article>

</html>